/.git
/.gitignore
/.dockerignore
/.env

/*.db
/*.sqlite
/*.sqlite3

/data
/music
/chromaprint-fpcalc-1.6.0-windows-x86_64

/backend/data
/backend/*.db
/backend/.env
/backend/.pytest_cache
/backend/venv
/backend/.venv
/backend/**/__pycache__
/backend/**/*.pyc

/frontend/dist
/frontend/node_modules
/frontend/playwright-report
/frontend/test-results
